body{
    background-color: black;
    color: white;
}
header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 40, 40);
    img{
        width: 200px;
        padding: 10px 30px;
    }
    nav{
       background-color: blue; 
       padding: 40px 20px;

    }
}
footer{
    background-color: green;
}

